{% extends 'loggedin.html' %}
{% block content1 %}
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
      <h2 class="w3-text-light-grey">Contact Us</h2>
      <hr style="width:200px" class="w3-opacity">
    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Goa, India</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: 9762368879</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: dxdelrocks@gmail.com</p>
    </div><br>
    <p><b>Feedback:</b></p>
    <div class="particle particle-2"></div>
    <form method="POST">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" name="name" value="{{request.form.name}}"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" name="email" value="{{request.form.email}}"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" name="subject" value="{{request.form.subject}}"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" name="message" value="{{request.form.message}}"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
        {% if error %}
        <p class="error"><b>{{ error }}</b></p>
        {% endif %}
      </p>
    </form>
  </div>
{% endblock content1 %}