{% extends 'loggedin.html' %}
{% block content %}

 <h1 class="w3-jumbo" style="text-align:center"><span class="w3-hide-small">Company</span> Gallery 2020</h1>
	 <div class="container" style="margin-left:120px">
		<div class="box">
		<div class ="imgBox">
			<img src="{% load static 'images/pic1.jpg'%}" width="310px" height="300px"></div>
			<div class="details"><div class="content"><p>PROJECT DISCUSSION<p></div></div>
			</div>
		
		<div class="box">
		<div class ="imgBox">
		<img  src="{% load static 'images/pic2.png'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>PROJECT DISCUSSION<p></div></div>
			</div>
			
		<div class="box">
		<div class ="imgBox">
		<img src="{% load static 'images/pic3.jpg'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>OFFICE<p></div></div>
			</div>
		
		<div class="box">
		<div class ="imgBox">
		<img src="{% load static 'images/pic4.png'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>PROJECT DISCUSSION<p></div></div>
			</div>
		<div class="particle particle-3"></div>
		<div class="box">
		<div class ="imgBox">
		<img src="{% load static 'images/pic5.jpg'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>PROJECT MEMBERS<p></div></div>
			</div>
		
		<div class="box">
		<div class ="imgBox">
		<img src="{% load static 'images/pic6.jpeg'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>PROJECT DISCUSSION<p></div></div>
			</div>
		
		<div class="box">
		<div class ="imgBox">
		<img src="{% load static 'images/pic6.jpeg'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>PROJECT DISCUSSION<p></div></div>
			</div>
		
		<div class="box">
		<div class ="imgBox">
		<img src="{% load static 'images/pic2.png'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>PROJECT DISCUSSION<p></div></div>
			</div>
		
		<div class="box">
		<div class ="imgBox">
		<img src="{% load static 'images/pic3.jpg'%}" width="310px" height="300px"></div>
		<div class="details"><div class="content"><p>OFFICE<p></div></div>
			</div>
	 </div>
	 <p class="extra" style="color:white"> A good employee is an asset to any organization as the key to <br>the organization’s 
	success is the effectiveness of the <br>employees working in it.<br><br><br>
	
	Efficient employees have a positive attitude and an<br> open mind.<br>
	 They are emotionally stable and have a consistent <br>and efficient working 
	 and leadership style.<br><br><br>
	 
	 They outperform the negative employees in <br>productivity, energy levels, and 
	health care costs.<br> Their approach is quite receptive and they are more <br>successful
	 and effective in handling clients than <br>their negative counterparts.<br><br><br>
 
	Satisfied employees are receptive to feedback<br> about their work as they constantly 
	look to <br>improve their skills and efficiency.<br> They take healthy criticism in a positive 
	way <br>and look at it as an opportunity for<br> self-improvement.<br><br><br>
	
	They actively participate in their career<br> development programs and also keep up on <br>the
	 current industry trends. <br>Their efficient work pays off and helps<br> them climb the
	 organizational ladder.<br> They are concerned about the company’s<br> performance and 
	 also offer ideas to<br> improve the same..<br><br><br>

	A good employee is an asset to any <br>organization as the key to the<br> organization’s 
	success is the <br>effectiveness of the employees working in it. <br><br><br>

	The employee performance will speak <br>for itself. Not only is there a good <br>performance
	 with little supervision<br> but also willing to take up additional<br> responsibilities. 
	 Such employees do <br>not require supervision and direction <br>to complete tasks. <br><br><br>
<br><br><br><br><br><br>
	</p>
{% endblock content1%}