{% load static %}
<!DOCTYPE html>
<html>
<title>Emp-Linked Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/style.css' %}">


<body class="w3-black">
<div class="animation-wrapper">
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">

  <img src="{% static 'images/logo.png' %}" style="width:100%">
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="/register" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>REGISTER</p>
  </a>
  <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>LOGIN</p>
  </a>
  <a href="/gallery" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-camera w3-xxlarge"></i>
    <p>GALLERY</p>
  </a>
  <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
  {% if username %}
  <a href = '/logout' class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-power-off w3-xxlarge" style="color:#FFFFFF"></i>
    <p>LOGOUT</p>
  </a>
  {% endif %}
</nav>
<div class="particle particle-1"></div>
{% if username %}
<div class="w3-sidebar w3-bar-block" style="width:15%;right:0">
  <h5 class="w3-bar-item">Menu</h5>
  <a href="/leaverequest" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>Request Leave</p>
  </a>
  <a href="/leavestatus" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-file-text-o w3-xxlarge"></i>
    <p>View Leave Status</p>
  </a>
   <a href="{% static 'notes.html' %}" target="_blank" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-file w3-xxlarge"></i>
    <p>Sticky Notes tool BETA</p>
  </a>
  <a href="/notices" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-trello w3-xxlarge"></i>
    <p>Notices</p>
  </a>
  <a href="/policy" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-handshake-o w3-xxlarge"></i>
    <p>Company Policies</p>
  </a>
  <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-users w3-xxlarge"></i>
    <p>About Us</p>
  </a>
   <a href="/password" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-lock w3-xxlarge"></i>
    <p>Change password</p>
  </a>
</div>
{% endif %}
<div class="particle particle-2"></div>
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="/" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="/register" class="w3-bar-item w3-button" style="width:25% !important">REGISTER</a>
    <a href="/login" class="w3-bar-item w3-button" style="width:25% !important">LOGIN</a>
    <a href="/gallery" class="w3-bar-item w3-button" style="width:25% !important">GALLERY</a>
    <a href="/contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<div class="w3-padding-large" id="main">
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Emp -</span> Linked.</h1>
    <p>Employee Management System</p>
  </header>
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Welcome,</h2>
    {% if username %}
        <p class="username"><strong>You are logged in as</strong> {{ username }}</p>
      {% else %}
      	<p>You are not logged in <br><a href = '/login'><b>Click here to log in</b></a></p>
      {% endif %}

    <hr style="width:200px" class="w3-opacity">
    <div class="particle particle-3"></div>
{% block content %}
{% if show %}

  <h2 class="w3-text-light-grey"></h2>
   {% for status in status_request %}
   <strong>Name :</strong> {{status.fname}} <br><strong>Department :</strong> {{status.dept}} <strong>Job Role :</strong> {{status.pos}} <br><strong>Leave Date :</strong> {{status.leavedate}} <br>
   <strong>Reason : </strong> {{status.reason}} <br><strong>Status : </strong> {{status.status}} <br>
  <br>

{% endfor %}
{% endif %}
{% if passwordchange %}

<form class="w3-black" action="" method="post">
      <h2 class="w3-text-light-grey">Change Password :</h2>
      <label><b>Enter your new password : </b></label>&emsp;
      <input type="password" id="pw" name="pw" value="{{request.form.pw}}"><br><br>
      <button type="submit" value="changepassword">Change Password</button>
    {% if error %}
        <p class="error"><strong>Status:</strong> {{ error }} </p>
    {% endif %}
{% endif %}
{% endblock %}

<div class="particle particle-4"></div>
</div>

    </div>
    <br>
  

</div>

</body>
</html>
