{% extends 'loggedin.html' %}
{% block content1 %}
<div class="w3-padding-large" id="main">
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Emp -</span> Linked.</h1>
    <p>Employee Management System</p>
  </header>
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Welcome,</h2>
    {% if username %}
        <p class="username"><strong>You are logged in as</strong> {{ username }}</p>
      {% else %}
      	<p>You are not logged in <br><a href = '/login'><b>Click here to log in</b></a></p>
      {% endif %}
    <hr style="width:200px" class="w3-opacity">
    <div class="particle particle-3"></div>
{% block content %}
{% if show %}
  <h2 class="w3-text-light-grey"></h2>
   {% for status in status_request %}
   <strong>Name :</strong> {{status.fname}} <br><strong>Department :</strong> {{status.dept}} <strong>Job Role :</strong> {{status.pos}} <br><strong>Leave Date :</strong> {{status.leavedate}} <br>
   <strong>Reason : </strong> {{status.reason}} <br><strong>Status : </strong> {{status.status}} <br>
  <br>
{% endfor %}
{% endif %}
{% if passwordchange %}
<form class="w3-black" action="" method="post">
      <h2 class="w3-text-light-grey">Change Password :</h2>
      <label><b>Enter your new password : </b></label>&emsp;
      <input type="password" id="pw" name="pw" value="{{request.form.pw}}"><br><br>
      <button type="submit" value="changepassword">Change Password</button>
    {% if error %}
        <p class="error"><strong>Status:</strong> {{ error }} </p>
    {% endif %}
{% endif %}
{% endblock %}
</div>
</div>
<br>
{% endblock content1 %}