{% extends 'base.html' %}
{% block content1 %}
    {% block content %}
      <form class="w3-black" style="border: 11px groove rgba(28,110,164,0.52);
border-radius: 40px;" method="POST">{% csrf_token %}
        <h1>Login</h1>
        <br>
        <fieldset>
          <label for="fname">Username:</label>
          <input type="text" id="fname" placeholder="Username" name="username">
          <div class="particle particle-2"></div>
          <label for="pw">Password:</label>
          <input type="password" id="pw" placeholder="Password" name="pwd">
          {% if object.error %}
        <p class="error"><strong>Error:</strong> {{ object.error }}</p>
      {% endif %}
      <div class="particle particle-3"></div>
        </fieldset>
        <button type="submit" value="Save">Login</button>
      </form>
    {% endblock content %}
  <div class="particle particle-4"></div>
{% endblock content1 %}

