  {% load static %}
<!DOCTYPE html>
<html>
<title>Registration Form</title>
  <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="../static/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/main.css">
        <link rel="stylesheet" href="{%static '/style.css'%}">
 <style>
    	footer {
           display: table;
    text-align: center; 
}	
          i {
          	padding-right: 10px;
          }
      </style>

        
    </head>
<body class="w3-black">
<div class="animation-wrapper">
      <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <img src="{%static 'images/logo.png'%}" style="width:100%">
  <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="/register" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>REGISTER</p>
  </a>
  <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>LOGIN</p>
  </a>
  <a href="/gallery" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-camera w3-xxlarge"></i>
    <p>GALLERY</p>
  </a>
  <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>
<div class="particle particle-1"></div>
      <form class="w3-black" style="border: 11px groove rgba(28,110,164,0.52);
border-radius: 40px;" action="" method="post">
      
        <h1>Sign Up</h1>
        
        <fieldset class="w3-black">
          <legend><span class="number">1</span>Your basic info</legend>
          <label for="fname">First Name:</label>
          <input type="text" id="fname" name="user_fname" value="{{
          request.form.user_fname }}">
          
          <label for="lname">Last Name:</label>
          <div class="particle particle-2"></div>
          <input type="text" id="lname" name="user_lname" value="{{
          request.form.user_lname }}">

          <label for="mail">Email:</label>
          <input type="email" id="mail" name="user_email" value="{{
          request.form.user_email }}">
          
          <label for="phno">Contact Number:</label>
          <input type="contact" id="phno" name="contact_number" value="{{
          request.form.contact_number }}">

          <label for="username">Username:</label>
           <div class="particle particle-3"></div>
          <input type="username" id="username" name="user_name" value="{{
          request.form.user_name }}">

          <label for="password">Password:</label>
          <input type="password" id="password" name="user_password" value="{{
          request.form.user_password }}">
          <div class="particle particle-2"></div>
          <label>Date Of Birth:</label>
          <input type="date" id="dob" value="dob" name="birthday" value="{{
          request.form.birthday }}">
          <br>
        </fieldset>
        <fieldset>
          <legend><span class="number">2</span>Your profile</legend>
          <label for="bio">Biography:</label>
          <textarea id="bio" name="user_bio" value="{{
          request.form.user_bio }}"></textarea>
        </fieldset>
        <fieldset>
        <label for="job">Job Role:</label>
        <select id="job" name="user_job" value="{{
          request.form.user_job }}">
          <optgroup label="Web">
            <option value="frontend_developer">Front-End Developer</option>
            <option value="php_developor">PHP Developer</option>
            <option value="python_developer">Python Developer</option>
            <option value="web_designer">Web Designer</option>
          </optgroup>
          <optgroup label="Mobile">
            <option value="Android_developer">Androild Developer</option>
            <option value="iOS_developer">iOS Developer</option>
            <option value="mobile_designer">Mobile Designer</option>
          </optgroup>
          <optgroup label="Other">
            <option value="secretary">Secretary</option>
            <option value="maintenance">Maintenance</option>
          </optgroup>
        </select>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      <div class="particle particle-3"></div>
        </fieldset>
        <button type="submit">Sign Up</button>
      </form>
      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </footer>
  <div class="particle particle-4"></div>
    </body>
</html>